<div>
  <% if @dragon.errors %>
    <ul>
      <% @dragon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>


<div>
  <%= form_for @dragon do |f| %>
    <%= f.label :name %> <%= f.text_field :name %><br><br>
    <%= f.label :age %> <%= f.text_field :age %><br><br>
    <%= f.label "Master" %> <%= f.collection_select :user_id, @all_users, :id, :name, selected: @user.id %><br><br>
    <%= f.submit %><br><br>
  <% end %>
</div>
