<!DOCTYPE html>
<html>
  <head>
    <title>DragonsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <% if !@set_on_homepage %>
      <br><%= link_to "HomePage", home_path %>
    <% end %>
  </body>
</html>
